<ul th:fragment="menu">
    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="#"><i class="fas fa-chart-line"></i> Dashboard</a></li>
    <li><a href="#"><i class="fas fa-briefcase"></i> Products</a></li>
    <li><a href="#"><i class="fas fa-headset"></i> Support</a></li>
</ul>

<ul class="mobile-nav-links" th:fragment="mobile_menu">
    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="#"><i class="fas fa-chart-line"></i> Dashboard</a></li>
    <li><a href="#"><i class="fas fa-briefcase"></i> Products</a></li>
    <li><a href="#"><i class="fas fa-headset"></i> Support</a></li>
</ul>